@model PostEditViewModel
@{
    ViewData["Title"] = Model.Title + " - ویرایش نوشته";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h3 class="page-title">
    ویرایش نوشته
    (@Model.PostTypeTitle)
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-flag"></i>
            <a asp-controller="Home" asp-action="Index"> داشبرد</a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <i class="fa fa-flag"></i>
            <a>مدیریت @Model.PostTypeTitle </a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <i class="fa fa-flag"></i>
            <span>ویرایش نوشته : @Model.Title</span>
        </li>

    </ul>
</div>

<div class="row">
    <form id="myform" asp-controller="Post"
          asp-action="Edit"
          asp-antiforgery="true"
          class="form-horizontal"
          enctype="multipart/form-data"
          method="post">
        <input type="hidden" asp-for="PostTypeId" />
        <input type="hidden" asp-for="Id" />
        <div class="form-body">
            <div class="tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_content" data-toggle="tab" aria-expanded="true">
                            محتوا
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab_gallery" data-toggle="tab" aria-expanded="false">
                            تصاویر
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab_files" data-toggle="tab" aria-expanded="false">
                            فایل ها
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_content">
                    <div class="col-md-8">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-paper-plane font-yellow-casablanca"></i>
                                    <span class="caption-subject bold font-yellow-casablanca uppercase">
                                        ویرایش نوشته
                                    </span>
                                    <span class="caption-helper">@Model.Title</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label asp-for="Title" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="Title" class="form-control" />
                                            <span asp-validation-for="Title" class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Slug" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="Slug" class="form-control" />
                                            <span class="help-block">URL نوشته</span>
                                            <span asp-validation-for="Slug" class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Body" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <textarea class="wysihtml5 form-control" rows="30" asp-for="Body"></textarea>
                                            <span class="btn-block" asp-validation-for="Body"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Summary" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <textarea asp-for="Summary" class="wysihtml5 form-control" rows="10">
                                </textarea>
                                            <span asp-validation-for="Summary" class="help-block"></span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group last">
                                        <label asp-for="CoverPhoto" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="CoverPhotoFile" onchange="previewCoverPhoto()" style="width: 400px; margin: 6px 10px" />
                                            <img src="~/assets/admin/img/defpic.png" id="imgUpload" style="height: 75px; float: left; margin: 0px 0px 10px 25px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portlet box green-meadow">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gear"></i> تنظیمات
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                    <a href="javascript:;" class="reload"></a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label asp-for="LangId" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <select asp-for="LangId"
                                                    asp-items="Model.LanguageSelectList"
                                                    class="form-control input-medium">
                                            </select>
                                            <span class="btn-block" asp-validation-for="LangId"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CategoryId" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <select asp-for="CategoryId"
                                                    asp-items="Model.CategorySelectList"
                                                    class="form-control input-medium">
                                            </select>
                                            <span class="btn-block" asp-validation-for="CategoryId"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AltTitle" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="AltTitle" class="form-control input-large" />
                                            <span asp-validation-for="AltTitle" class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Status" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <select asp-for="Status"
                                                    asp-items="Model.StatusSelectList"
                                                    class="form-control input-medium">
                                            </select>
                                            <span asp-validation-for="Status" class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PublishDateValue" class="col-md-4 control-label"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input asp-for="PublishDateValue" class="form-control input-large" placeholder="تاریخ انتشار" />
                                        </div>
                                        @*<div class="col-md-4">

                                        </div>*@
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            <input asp-for="Commenting" class="form-control checkbox" /> فعال برای نظر دادن
                                            <span asp-validation-for="Commenting" class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="Password" type="password" class="form-control portlet-input" />
                                            <span asp-validation-for="Password" class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="OrderNumber" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="OrderNumber" type="number" class="form-control portlet-input" />
                                            <span asp-validation-for="OrderNumber" class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Tags" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input type="hidden" id="select_tags" value="@Model.Tags" asp-for="Tags" class="form-control" />
                                            <span asp-validation-for="Tags" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab_gallery" class="tab-pane">
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <blockquote>
                                <p>
                                    در اینجا می‌توانید تصاویر مربوط به نوشته را در وب سایت بارگزاری کنید.
                                </p>
                            </blockquote>
                            <div class="col-lg-7">
                                <button type="button" class="btn green" data-toggle="modal" href="#img-upload">
                                    <i class="fa fa-upload"></i>
                                    <span> بارگزاری تصویر جدید...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab_files" class="tab-pane">
                    <hr />
                    <p>ابتدا نوشته را ذخیره کنید تا به این قسمت دسترسی داشته باشید</p>
                </div>
            </div>

        </div>
        <hr />
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" id="btnSubmit" class="btn green">
                        <span class="md-click-circle md-click-animate"></span>
                        <i class="fa fa-check"></i> ذخیره
                    </button>
                    <a asp-controller="Post"
                       asp-action="Index"
                       asp-route-postType="@Model.PostTypeSlug"
                       class="btn default">
                        <i class="fa fa-remove"></i> انصراف
                    </a>
                </div>
            </div>
        </div>


    </form>
</div>

<div class="modal fade" id="img-upload" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">آپلود تصویر</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-body">
                        <div class="form-group">
                            <label asp-for="CategoryId" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                
                                <span class="btn-block" asp-validation-for="CategoryId"></span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                <button type="button" class="btn blue">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section headSection {

    <link href="~/assets/admin/datepicker/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/datepicker/css/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5-rtl.css" />
    @*@if(Model.ShowNotification)*@
    <link src="~/assets/plugins/bootstrap-toastr/toastr-rtl.min.css" />
}


@section footerScripts {
    @if (Model.ShowNotification) {
        <link src="~/assets/plugins/bootstrap-toastr/toastr-rtl.min.css" />
        <script src="~/assets/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    }

    <script src="~/assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/admin/scripts/bootstrap-editor.js" type="text/javascript"></script>
    <script src="~/assets/admin/datepicker/js/jalaali.js" type="text/javascript"></script>
    <script src="~/assets/admin/datepicker/js/PersianDateTimePicker.js" type="text/javascript"></script>
    @*<script type="text/javascript">
            $(document).ready(function() {
                $('#PublishDateValue').pDatepicker();
            });
        </script>*@

    <script type="text/javascript">
        bootstrapEditor.init();
        $('#PublishDateValue').MdPersianDateTimePicker({
            Placement: 'right', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '#PublishDateValue',
            Format: 'yyyy/mm/dd HH:MM'
        });
    </script>

    <script src="~/assets/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            toastr["success"]("نوشته با موفقیت افزوده شد.");
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-left",
                "preventDuplicates": true,
                "showDuration": "2000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });
    </script>
    @if (Model.ShowNotification) {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr["success"]("نوشته با موفقیت افزوده شد.");
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "showDuration": "2000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
            });
        </script>
    }

    <script>
        $(window).load(function () {
            $('iframe.wysihtml5-sandbox').each(function (i) {
                $(this)
                    .contents()
                    .find("body")
                    .css({ 'direction': 'rtl', 'font-family': "'IRANsans', 'Tahoma'" });
            });
        })
    </script>
    <script type="text/javascript">
            $('#select_tags').select2({
                tags: [ @Html.Raw(Model.TagsSource) ]
            });
    </script>

    <script type="text/javascript">
        function previewCoverPhoto() {
            var preview = document.querySelector('#imgUpload');
            var file = document.querySelector('#CoverPhotoFile').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }

        $('#myform').submit(function () {
            if ($(this).valid()) {
                $(this).find(':submit').attr('disabled', 'disabled');
            }
        });

        $('#LangId').change(function () {
            var langId = $('#LangId').val();
            var postTypeId = $('#PostTypeId').val();
            $.ajax({
                url: '@Url.Action("GetCategoriesAsync")',
                type: 'POST',
                dataType: 'json',
                data: {
                    'postTypeId': postTypeId,
                    'langId': langId
                }
            }).done(function(data) {
                var options = $('#CategoryId');
                options.empty();
                $.each(data,
                    function(i, item) {
                        options.append($('<option />')
                            .val(item.value)
                            .text(item.text));
                    });
            }).fail(function (error) {
                alert(error);
            });
        });

    </script>
}
