@model AdminContactIndexViewModel
@{
    ViewData["Title"] = "فرم تماس با ما";
}

<h3 class="page-title">
    تماس با ما
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="Home" asp-action="Index"> داشبرد</a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <i class="fa fa-flag"></i>
            فرم تماس با ما
        </li>

    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i> فیلتر
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                    <a href="" class="fullscreen" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="remove" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="filter" asp-controller="Contact" asp-action="Index" method="post" class="form-horizontal">
                    <input type="hidden" asp-for="Filter.PageIndex" />
                    <input type="hidden" asp-for="Filter.PageSize" />
                     <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">نام</label>
                                    <div class="col-md-9">
                                        <input asp-for="Filter.Name" type="text" class="form-control" placeholder="نام...">
                                        @*<span class="help-block">

                            </span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">ایمیل</label>
                                    <div class="col-md-9">
                                        <input asp-for="Filter.Email" style="direction: ltr" type="email" class="form-control" placeholder="ایمیل...">
                                        @*<span class="help-block">

                            </span>*@
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            @*<div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label col-md-3">ایمیل</label>
                        <div class="col-md-9">
                            <div class="select2-container select2me form-control" id="s2id_autogen5"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-6">Abc</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen6" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="il" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-6" id="s2id_autogen6"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen6_search" class="select2-offscreen"></label>       <input type="il" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-6" id="s2id_autogen6_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-6">   </ul></div></div><select name="foo" class="select2me form-control select2-offscreen" tabindex="-1" title="">
                                <option value="1">Abc</option>
                                <option value="1">Abc</option>
                                <option value="1">This is a really long value that breaks the fluid design for a select2</option>
                            </select>
                            <span class="help-block">
                                This field has error.
                            </span>
                        </div>
                    </div>
                </div>*@
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green"><i class="fa fa-filter"></i> فیلتر</button>
                                        <a asp-controller="Contact" asp-action="Index" class="btn default"><i class="fa fa-remove"></i> حذف فیلتر</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-file"></i> لیست پیام ها
                </div>
                <div class="actions">

                    @if (Model.DataSource.CanGoPreviousPage) {
                        <a asp-controller="Contact" asp-action="Index" asp-route-page="@Model.DataSource.PreviousPage"
                           class="btn default green-stripe">
                            صفحه قبل
                        </a>
                    }

                    @if (Model.DataSource.CanGoNextPage) {
                        <a asp-controller="Contact" asp-action="Index" asp-route-page="@Model.DataSource.NextPage"
                           class="btn default green-stripe">
                            صفحه بعد
                        </a>
                    }


                    <a href="javascript:;" class="btn default btn-sm">
                        <i class="fa fa-share icon-black"></i> Share
                    </a>

                    <div class="btn-group">
                        <a class="btn btn-sm green" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-user"></i> عملیات <i class="fa fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu pull-right" style="font-family: 'IRANsans'">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-trash-o"></i> حذف انتخاب شده ها
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-ban"></i> Ban
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="i"></i> Make admin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">

                @if (Model.DataSource.IsNotEmpty) {
                    <div class="todo-tasklist">

                        @foreach (var contact in Model.DataSource.Items) {
                            string stateClassName = "todo-tasklist-item-border-yellow";
                            string badgeClassName = "";
                            switch (contact.Status) {
                                case Behlog.Core.Models.Enum.ContactMessageStatus.Deleted:
                                    stateClassName = "todo-tasklist-item-border-red";
                                    badgeClassName = "danger";
                                    break;
                                case Behlog.Core.Models.Enum.ContactMessageStatus.Sent:
                                    stateClassName = "todo-tasklist-item-border-yellow";
                                    badgeClassName = "warning";
                                    break;
                                case Behlog.Core.Models.Enum.ContactMessageStatus.Spam:
                                    stateClassName = "todo-tasklist-item-border-gray";
                                    badgeClassName = "primary";
                                    break;
                                case Behlog.Core.Models.Enum.ContactMessageStatus.Viewed:
                                    stateClassName = "todo-tasklist-item-border-blue";
                                    badgeClassName = "success";
                                    break;
                                case Behlog.Core.Models.Enum.ContactMessageStatus.Read:
                                    stateClassName = "todo-tasklist-item-border-green";
                                    badgeClassName = "";
                                    break;
                            }

                            <div id="divContact" data-id="@contact.Id" class="todo-tasklist-item @stateClassName">
                                <span class="pull-left"><i class="fa fa-user-o"></i> </span>
                                <div id="divContactTitle_@contact.Id" class="todo-tasklist-item-title">
                                    <input type="checkbox" id="chkSelectContact_@contact.Id" class="form-check-input" />
                                    @contact.Name
                                </div>
                                <div class="todo-tasklist-item-li">
                                    <b>@contact.Title</b>
                                </div>
                                <div class="todo-tasklist-item-il">
                                    @Html.Raw(contact.Message)
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">

                                    </div>
                                    <div class="col-sm-4" style="text-align: left">
                                        <a class="btn btn-danger delete-dialog" id="btnRemove" href="#remove" data-id="@contact.Id" data-toggle="modal"><i class="fa fa-trash-o"></i> حذف</a>
                                        @*<a class="btn btn-danger" href="#">حذف <i class="fa fa-trash-o"></i></a>*@
                                    </div>
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date"><i class="fa fa-inbox"></i>آدرس ایمیل :<a href="mailto:@contact.Email">@contact.Email</a> </span>
                                    <span class="todo-tasklist-date"><i class="fa fa-phone"></i>شماره تماس : <a href="tel://@contact.Phone">@contact.Phone</a>  </span>
                                </div>
                                <div class="todo-tasklist-controls pull-right">
                                    <span class="todo-tasklist-date"><i class="fa fa-calendar"></i> تاریخ ارسال : @contact.SentDateDisplay </span>
                                    <span class="todo-tasklist-date"><i class="fa fa-user"></i> IP :  @contact.Ip </span>
                                </div>



                            </div>
                        }

                    </div>
                }
                else {
                    if (Model.DataSource.HasFilter) {
                        <div class="note note-danger">
                            <h4 class="block">نتیجه ای برای جستجوی شما یافت نشد!</h4>
                            <p>
                                لطفاً مقادیر فیلترها را بررسی کنید. اگر مطمئن نیستید، فیلترها را حذف و دوباره سعی نمایید.
                            </p>
                        </div>
                    }
                    else {
                        <div class="note note-danger">
                            <h4 class="block">هنوز پیامی برای وب سایت شما ارسال نشده است!</h4>
                            <p>
                                زمانی که بازدیدکنندگان یا کاربران وب سایت برای شما از طریق <b>فرم تماس</b> پیامی ارسال کنند،
                                لیست پیام های ارسالی را اینجا خواهید دید.
                            </p>
                        </div>
                    }

                }


            </div>
            <div class="form-actions" style="padding-top: 15px">
                <div class="row">
                    <div class="col-sm-4">
                        <span>صفحه @Model.Filter.CurrentPage از @Model.Filter.TotalPages </span> |
                        <span>تعداد کل رکوردها: @Model.DataSource.TotalCount.ToString("N0") </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_deleteDlg" />

@section headSection {
    <link href="~/assets/admin/css/todo-rtl.css" rel="stylesheet" type="text/css" />
}

@section footerScripts {
    <script type="text/javascript">
        $(".delete-dialog").click(function () {
            //e.preventDefault();
            var id = $(this).data('id');
            $('#hidDelete').val(id);
        });
        $('#btnDelete').click(function () {
            var id = $('#hidDelete').val();
            $.post("@Url.Action("Delete")", { id: id }, function (data) {
                window.location.href = "@Url.Action("Index")";
            });
        });

        //$('.todo-tasklist-item').click(function (e) {
        //    var id = $(this).attr('data-id');
        //    var title = $(this).find('#divContactTitle_' + id);
        //    alert(title.id);
        //    var chk = title.find('#chkSelectContact_'+id);
        //    alert(chk.id);
        //    chk.checked = !chk.checked;
        //});
    </script>
}